# env when services (db and user service) running in docker
PORT=3002 # Port on which the service itself will run
HOST=0.0.0.0 # The host/interface the service binds to; 0.0.0.0 means all network interfaces
PG_DATABASE=user_service_db # Database name the service will connect to (matches Postgres container)
PG_USERNAME=user_db_admin  # Username for connecting to the database
PG_PASSWORD=user_db_password # Password for connecting to the database
PG_HOST=user-service-db # Hostname of the Postgres container/service (used by NestJS to connect)
PG_PORT=5432 # Port on which Postgres is listening inside the container


# env when services (db and user service) running locally
# PORT=3002
# HOST=0.0.0.0
# PG_DATABASE=microservice_user_db # db name
# PG_USERNAME=postgres
# PG_PASSWORD=postgres
# PG_HOST=127.0.0.1 # when connecting locally
# PG_PORT=5432


