POSTGRES_DB: user-service-db        # Name of the Postgres database the container will create
POSTGRES_USER: user-service-db-admin        # Username for connecting to the Postgres database
POSTGRES_PASSWORD: user-service-db-password # Password for the Postgres user
